img{
    width: 40%;
    height: 40%;
    margin: 4%
}
nav{
    width: 40%;
    border-bottom: solid 1px #f1f1f1;
    margin-left: 4%;
    font-weight: 400;
    font-size: 1.5em;
    padding: 1.2em 0;
    font-family: 'Mukta', sans-serif;
}